body{
    background:#E4F9F5;
    text-align: center;
    margin: 0;
}
.topcontainer{
    position: relative;
   padding-top: 100px;
}
.downcloud{
    position: absolute;

}
.topcloud{
    position:absolute;
    right:300px;
    top:50px;
}
h1 { font-family: "Brush Script MT", cursive; font-size: 24px; font-style:normal; font-variant: normal; font-weight: 500px; line-height: 26.4px; } h3 { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Brush Script MT", cursive; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Brush Script MT", cursive; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
.font{
    font-size: 30px;
}
.para{
    font-size: 20px;
    
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.ppimagee{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.botpic{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.i{
    margin-bottom: 30px;
}
.profile{
    margin-top: 40px;
}


